---
const {img} = Astro.props;
---

<div class="slide">
    <div class=" w-80 sm:w-[600px] h-96 py-10">
      <div class='h-full w-full justify-center px-10 flex py-4'>
        <img src={img} class='w-full h-full place-cover object-cover'/>
      </div>
    </div>
</div>